/* stsrt Global rules */
* {
  box-sizing: border-box;
}
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover{
 background-color: var(--blue-alt-color);
}
/* end Global rules */
.page{
  background-color: #f2f5f9;
  min-height: 100vh !important;
}
/* start sidebar  */
.sidebar{
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
  margin-bottom: 50px;
}
.sidebar > h3::before{
  content: "";
  background-color: black;
  width: 80px;
  height: 2px;
  position: absolute;
  bottom: -20px;
  transform: translateX(-50%);
  left: 50%;
}
.sidebar > h3::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: -26px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: black;
  border: 2px solid white;
  transform: translateX(-50%);

}

.sidebar ul li a {
  transition: 0.3s;
  margin-bottom: 5px;

}
.sidebar ul li a:hover , .sidebar ul li a.active{
  background-color: #f6f6f6;

}
.sidebar ul li a  span{
 font-size: 14px;
 margin-left: 10px;

}
@media (max-width : 767px){
 .sidebar{
  width: 62px;
  padding: 10px;
 }
 .sidebar > h3 {
  font-size: 13px;
  margin-bottom: 15px;
 }
 .sidebar > h3::after , .sidebar > h3::before {
  display: none;
 }
 .sidebar ul li a span {
  display: none;
 }
}
/* end sidebar  */
/* start content  */
.content{
  overflow: hidden;
}
.haed .search::before{
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);
}
  

.haed .search input {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 5px;
  padding-left: 30px;
  width: 160px;
  transition: 0.3s;
}
.haed .search input:focus {
 
  width: 200px;
}
.haed .search input:focus::placeholder {
  opacity: 0;
}
.haed .icon .notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
  right: -5px;
  top: -5px;
}

.haed .icon img {
  width: 32px ;
  height: 32px;
  margin-left: 15px;
}
.page h1 {
  margin: 20px 20px 40px ;
}
.page h1::before , .page h1::after {
  content: "";
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.page h1::before{
  background-color: white;
  width: 120px;
}
.page h1::after{
  background-color: black;
  width: 40px;
}
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width : 767px){
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
/* end content  */
/* stat welcome Widget */
.welcome {
  overflow: hidden;
}
.welcome .intro img {
  width: 200px;
  margin-bottom: -10px;
}
.welcome .avatar {
  width: 64px;
  height: 64px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 2px;
  box-shadow: 0 0 5px #ddd;
  margin-left: 20px;
  margin-top: -32px;
}
.welcome .body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.welcome .body > div {
  flex: 1;
}
.welcome .visit {
  margin: 15px 15px 15px auto;
  transition: 0.3s;
}
.welcome .visit:hover {
  background-color: var(--blue-alt-color);
}
@media (max-width: 767px) {
  .welcome .intro {
    padding-bottom: 30px;
  }
  .welcome .avatar {
    margin-left: 0;
  }
  .welcome .body > div:not(:last-child) {
    margin-bottom: 20px;
  }
}
/* end welcome Widget */
/* start Quick Draft Widget  */
.quick-draft textarea {
  resize: none;
  min-height: 180px;
}
.quick-draft .save {
 margin-left: auto;
 transition: 0.3s;
 cursor: pointer;
}
.quick-draft .save:hover {
 margin-left: auto;
 transition: 0.3s;
 cursor: pointer;
}
/* start Quick Draft Widget  */
/* start target  */
.target .target-row .icon {
  width:80px ;
  height:80px ;
  margin-right: 15px;
}
.target .details {
  flex: 1;
}
.target .details .progress{
  height: 4px;
}
.target .details .progress > span{
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
}
.target .details .progress > span span{
  position: absolute;
  bottom: 16px;
  right: -16px;
  color: white;
  padding: 2px 5px ;
  border-radius: 6px;
  font-size: 13px;
}
.target .details .progress > span span::before{
  content: "";
}
.target .details .progress > span span::after{
  content: "";
  border-color: transparent;
  border-width: 5px;
  border-style: solid;
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
}
.target .details .progress   span.blue::after {
  border-top-color: var(--blue-color);
}
.target .details .progress   span.orange::after{
  border-top-color: var(--orange-color);
}
.target .details .progress  span.green::after{
  border-top-color: var(--green-color);
}
.blue .icon , .blue .progress {
  background-color: rgb(0, 117, 255 , 20%);
}
.orange .icon , .orange .progress {
  background-color: rgb(245, 158, 11 , 20%);
}
.green .icon , .green .progress {
  background-color: rgb(34, 197, 94 , 20%);
}

/* end target  */
/* start tickests */
.tickets .box {
  border: 1px solid #ccc;
  width: calc(50% - 10px);
}
@media (max-width: 767px){
  .tickets .box {
    width: 100%;
  }
}
/* end  tickests */
/* start latest News  */
.latest-news .news-row:not(:last-of-type){
  margin-bottom: 20px ;
  padding-bottom: 20px ;
  border-bottom: 1px solid #eee ;
}
.latest-news .news-row img {
  width: 100px ;
  border-radius: 6px;
  margin-right: 15px;
}
.latest-news .news-row .info {
  flex-grow: 1;
}
.latest-news .news-row .info h3  {
 margin: 0 0 6px ;
 font-size: 16px;
}
@media(max-width : 767px){
  .latest-news .news-row{
    display: block;
  }
  .latest-news .news-row .label{
    margin: 10px auto ;
    width: fit-content;
  }
}
/* end latest News  */
/* start Latest Uploads  */
.latest-uploads ul li:not(:last-child){
  
  border-bottom: 1px solid #eee;
}
.latest-uploads ul li img {
 width: 40px;
 height: 40px;
}
/* end Latest Uploads  */
/* start last project  */
.last-project ul::before {
  content: "";
  position: absolute;
  left: 11px;
  width: 2px;
  height: 100%;
  background-color: var(--blue-color);
}
.last-project ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
  outline: 2px solid var(--blue-color);
  margin-right: 15px;
  z-index: 1;
}
.last-project ul li.done::before {
  content: "";
  background-color: var(--blue-color);
}
.last-project ul li.current::before {
  animation: change-color 0.8s infinite alternate;
}
.last-project .Launsh-icon{
  position: absolute;
  width: 160px;
  right: 0;
  bottom:0 ;
}
/* end last project  */

/* start Reminders  */
.reminders ul li .key{
  width: 15px;
  height: 15px;
}
.reminders ul li > .blue {
  border-left: 2px solid var(--blue-color);
}
.reminders ul li > .green {
  border-left: 2px solid var(--green-color);
}
.reminders ul li > .orange {
  border-left: 2px solid var(--orange-color);
}
.reminders ul li > .red {
  border-left: 2px solid var(--red-color);
}

/* ena Reminders */
/* start lastest-post */
.lastest-post .avatar{
  width: 48px;
  height: 48px;
}
.lastest-post .post-content{
  line-height: 1.8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

}
/* ena lastest-post */
/* start  social-media*/
.social-media .box{
  padding-left: 70px;
}
.social-media .box i {
  position: absolute;
  left: 0;
  top: 0 ;
  width: 52px;
}
.social-media .twitter {
  background-color: rgb(29 161 242 / 20%);
  color: #1da1f2;
}
.social-media .twitter i , .social-media .twitter a {
  background-color: #1da1f2;
}
.social-media .facebook {
  background-color: rgb(24 119 242 / 20%);
  color: #1da1f2;
}
.social-media .facebook i, .social-media .facebook a {
  background-color: #1877f2;
}
.social-media .youtube {
  background-color: rgb(255 0 0 / 20%);
  color: #ff0000;
}
.social-media .youtube i, .social-media .youtube a {
  background-color: #ff0000;
}
.social-media .linkedin {
  background-color: rgb(0 119 181 / 20%);
  color: #0077b5;
}
.social-media .linkedin i, .social-media .linkedin a {
  background-color: #0077b5;
}
/* ena social-media  */
/* Start Projects Table */
.projects .responsive-table {
  overflow-x: auto;
}
.projects table {
  min-width: 1000px;
  border-spacing: 0;
}
.projects thead td {
  background-color: #eee;
  font-weight: bold;
}
.projects table td {
  padding: 15px;
}
.projects tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  transition: 0.3s;
}
.projects table tbody tr td:last-child {
  border-right: 1px solid #eee;
}
.projects tbody tr:hover td {
  background-color: #faf7f7;
}
.projects table img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
}
.projects table img:not(:first-child) {
  margin-left: -20px;
}
.projects table .label {
  font-size: 13px;
}
/* End Projects Table */
/* start Setting */
.settings-page{
  grid-template-columns: repeat(auto-fill , minmax(500px , 1fr ));
}

@media (max-width:767px){
  .settings-page{
    grid-template-columns:  minmax(100px , 1fr );
   margin-left: 10px;
   margin-right: 10px;
   gap: 10px;

  }
}
.settings-page .close-message{
  border: 1px solid #ccc;
  resize: none;
  min-height: 150px;
}
.settings-page #email {
  display: inline-flex;
  width: calc(100% - 80px );
 
}
.settings-page .social-boxes i {
  width: 40px;
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-right: none ;
  border-radius: 6px 0 0 6px;
  transition: 0.3s;
}
.settings-page .social-boxes input {
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  padding-left: 10px;
  border-radius: 0 6px 6px 0 ;
}
.settings-page .social-boxes > div:focus-within i {
  color: black;
}
.settings-page .sec-box:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.settings-page .sec-box {
  padding-bottom: 15px;
}
.toggle-checkbox{
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.toggle-switch{
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.toggle-switch::before{
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  background-color: white;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before{
  content: "\f00c";
  left: 50px;
  color: var(--blue-color);

}
.settings-page :disabled {
  cursor: no-drop;
  background-color: #f0f4f8;
  color: #ddd;
}
.widgets-control .control input[type = "checkbox"]{
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.settings-page .control label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
.widgets-control .control label::before, .widgets-control .control label::after {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
  border-radius: 4px;
}
.widgets-control .control label::before{
  content: "";
  width: 14px;
  height: 14px;
  border: 2px solid var(--grey-color);
}

.widgets-control .control label::after{
  
  font-family: var(--fa-style-family-classic);
  content: "\f00c";
  font-weight: 900;
  background-color: var(--blue-color);
  color: white;
  font-size: 16px ;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotate(360deg);
  transition: 0.3s;
}
.widgets-control .control input[type = "checkbox"]:checked + label::after{
  transform: scale(1);
}
.backup-control  input[type = "radio"]{
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.backup-control .date label{
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
.backup-control .date label::before , .backup-control .date label::after {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
  border-radius: 50%;
}
.backup-control .date label::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid var(--grey-color);
}
.backup-control .date label::after{
  content: "";
  background-color: var(--blue-color);
  width: 13px;
  height: 13px;
  top: 14px;
  left: 3px;
  transform: scale(0) ;
  transition: 0.3s;
}
.backup-control .date input[type = "radio"]:checked + label::after{
  transform: scale(1);
}
.backup-control .date.last{
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
.backup-control .server {
  cursor: pointer;
  padding: 15px ;
  margin: 15px 10px;
  border: 1px solid #eee;
}
@media (max-width: 767px){
.backup-control .servers {
    flex-wrap: wrap;
}
}
.backup-control .servers input[type = "radio"]:checked + div{
 border-color: var(--blue-color) ;
 color: var(--blue-color);
}
.backup-control .servers label {
  cursor: pointer;
}
/* end  Setting*/
/* start profile page  */

.profile-page .overview {
  padding: 20px;
}
@media(max-width : 768px){
  .profile-page .overview {
   flex-direction: column;
  }
}
.profile-page .avatar-box {
  width: 300px;
  border-right: 1px solid #eee;
}
@media(max-width : 768px){
  .profile-page .avatar-box {
    border: none;
  }
  .profile-page .other-data{
  flex-direction: column;
  }
}
.profile-page .avatar-box img{
  width: 120px;
  height: 120px;
}
.profile-page .avatar-box .level {
  height: 5px;
  overflow: hidden;
  width: 70%;
  margin: auto;
}
.profile-page .avatar-box .level span{
  position: absolute;
  height: 100%;
  background-color: var(--blue-color);
  border-radius: inherit;
  left: 0px;
  top: 0px;

}

.profile-page .info-box {
  flex: 1;
}
.profile-page .info-box .box{
  border-bottom: 1px solid #eee;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  transition: 0.3s;
}
.profile-page .info-box .box:hover{
 background-color: #f6f6f6;
}
.profile-page .skills-card{
  min-width: 250px;
  flex-grow: 1;
}
.profile-page .skills-card li{
  padding: 20px;
  padding-left: 0;
  border-bottom: 1px solid #eee;
}
.profile-page .skills-card li:last-child{
  border: none;
}
.profile-page .skills-card li span{
  background-color: #eee;
  padding: 8px;
  margin-right: 5px;
  border-radius: 5px;

}
.profile-page .activities{
  flex-grow: 2;
}
.profile-page .activities .activity{
  padding: 20px;
  padding-left: 0px;
  border-bottom: 1px solid #eee;
 
}
.profile-page .activities .activity:last-child{
  border: none;
}
.profile-page .activities .activity img{
  width: 64px;
  height: 64px;
  margin-right: 20px;

}
@media (min-width: 768px){
.profile-page .activity .date {
    margin-left: auto;
    text-align: right;
}
}
@media (max-width: 768px){

  .profile-page .activity {
    flex-direction: column;
  }
  .profile-page .activity img {
    margin: 0  auto 15px !important;
   
  }
.profile-page .activity .date {
   margin-top: 15px;
}
}

/* end profile page */
/* start Projrct page */
.projects-page {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width : 767px){
  .projects-page {
    grid-template-columns: minmax(200px, 1fr);
  }
}
.projects-page .date {
  position: absolute;
  right: 10px;
  top: 10px;
}
.projects-page .team{
  margin: 20px 0px;
  /* min-height: 80px; */
}
.projects-page img {
  width: 32px;
  height: 32px;
  border: 1px solid white;
  border-radius: 50%;
    
}

.projects-page .team a:not(:first-child) img{
  margin-left: -20px;
}
.projects-page .do{
  justify-content: flex-end;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 15px 0px;
  margin: 10px auto;
}
@media (max-width: 768px){
  .projects-page .do{
   flex-direction: column;
  }

}
.projects-page .do span{
 margin: 5px 3px ;
 padding: 5px 10px;
 width: fit-content;
}
.projects-page  .prog{
  position: relative;
  height: 5px;
  border-radius: 5px;
  width: 70%;
  overflow: hidden;
}
.projects-page  .prog span{
  position: absolute;
  height: 5px;
  top: 0;
  left: 0;
  border-radius: inherit;
}
/* end Projrct page */

/* start courses page */
.courses-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.courses-page img {
  width: 50px;
}
.courses-page .course{
  overflow: hidden;
}
.courses-page .course .cover {
  width: 100%;
}
.courses-page .course .instructor {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  top: 15px;
  left: 15px;
}
.courses-page .course .info{
  border-top: 1px solid #eee;
}
.courses-page .course .info .title{
 position: absolute;
 top:-14px;
 left: 50%;
 transform: translateX(-50%);
}

/* end courses page */

/* start freinds page*/
.friends-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.friends-page .contact {
  position: absolute;
  top: 10px;
  left: 10px;
}
.friends-page .contact i {
  background-color: #eee;
  color: var(--grey-color);
  padding: 8px;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.friends-page .contact i:hover {
  background-color: var(--blue-color);
  color: white;
  
}
.friends-page .icons {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  padding: 10px 0px ;
  margin: 15px 0px;
}
.friends-page .icons .vip {
  position: absolute;
  right: 15px;
  bottom: 10px;
  font-size: 50px;
  color: #f59e0b33;
  text-transform: uppercase;
}
/* end freinds page*/

/* start files page  */
.files-page {
  flex-direction: row-reverse;
}
@media (max-width: 767px){
  .files-page {
    flex-direction: column;
  }
}
.files-page .files-stats {
  min-width: 260px;
  height: fit-content;
}

.files-page .files-stats .icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.files-page .files-stats .blue {
  background-color: rgb(0 117 255 / 20%);
}
.files-page .files-stats .green {
  background-color: rgb(34 197 94 / 20%);
}
.files-page .files-stats .red {
  background-color: rgb(244 67 54 / 20%);
}
.files-page .files-stats .orange {
  background-color: rgb(245 158 11 / 20%);
}

.files-page .size {
 margin-left: auto;
}
.files-page .upload {
  
  margin: 15px auto 0px ;
  padding: 10px 15px;
  transition: 0.3s;
}
.files-page .upload:hover {
 background-color: var(--blue-alt-color);
}
.files-page .upload:hover  i {

  animation: up-down 0.8s infinite ;
}
.files-page .files-content {
  flex-grow: 1;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.files-page .files-content img {
  width: 60px;
  height: 60px;
}
.files-page .files-content .info {
  border-top: 1px solid #eee;
  padding: 10px 0px;
}
/* end files page  */
/* start plans page */
.plans-page{
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
@media (max-width : 767px){
  .plans-page {
    grid-template-columns: minmax(200px, 1fr);
  }
}
.plans-page div.top.bg-green {
  border: 2px solid white;
  outline: 3px solid var(--green-color);
}
.plans-page div.top.bg-blue {
  border: 2px solid white;
  outline: 3px solid var(--blue-color);
}
.plans-page div.top.bg-orange {
  border: 2px solid white;
  outline: 3px solid var(--orange-color);
}
.plans-page .price{
  font-size: 30px;
}

.plans-page ul li {
  padding: 15px 0px ;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
}
.plans-page ul i{
  color: var(--red-color);
  margin-right: 5px;
}
.plans-page ul i.yes{
  color: var(--green-color);
}
.plans-page ul i.help{
  color: var(--grey-color);
  margin-left: auto;
  cursor: pointer;

}
/* end plans page */
/* start animation  */
@keyframes change-color{
  from{
    background-color: var(--blue-color);
  }
  to{
    background-color: white;
  }
}
@keyframes up-down {
  0% , 100% {
   transform: translateY(0);
  }
  50% {
   transform: translateY(-5px);
  }
  
}
/* end  animation  */

